.booking {
  padding-top: 38px;
  padding-bottom: 50px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.booking__title {
  margin-bottom: 20px;
  font-size: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 30px;
  }
}

.booking__description {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.booking__break-text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
