.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: $button-text-main-color;
  background-color: $button-main-color;
  word-break: break-word;
  text-align: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  &:hover {
    background-color: $button-main-color-hover;
  }

  &:active {
    color: $opacity-white;
    background-color: $button-main-color-down;
  }

  &:disabled {
    color: $basic-white;
    background-color: $button-main-color-disabled;
  }

  &--find-hotel {
    font-size: 21px;
    padding: 15px 34px;

    @media (min-width: $tablet-width) {
      padding: 15px 121px 17px;
      min-width: 458px;
    }
  }

  &--send-review {
    padding: 18.5px 34px 13.5px 32px;
    font-size: 21px;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: center;
      padding-right: 30px;
      padding-left: 20px;
    }
  }

  &--ok {
    padding: 18px 63px 14px 64px;
    font-size: 18px;
  }

  &--close-window {
    padding: 18px 62px 14px 60px;
    font-size: 18px;
  }
}
