.catalog-content__intro {
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 92px;
  }
}

.catalog-content__photos {
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.catalog-content__presentation {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}
