.catalog-content__intro {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }
}

.catalog-content__photos {
  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.catalog-content__presentation {
  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 84px;
  }
}
