.copyright__image {
  margin-left: 12px;
}

.copyright {
  display: flex;
  align-items: center;
  line-height: 0;
  color: $basic-black;
  cursor: pointer;

  &:hover {
    color: $basic-blue;
  }

  &:active {
    color: $opacity-black;
  }
}

.copyright__text {
  margin: 0;
}
