.copyright__image {
  margin-left: 12px;
}

.copyright__link {
  color: inherit;
}

.copyright {
  display: flex;
  align-items: center;
  line-height: 0;
  color: $basic-black;
  cursor: pointer;

  &:hover {
    color: $basic-blue;

    .copyright__image {
      fill: $basic-blue;
    }
  }

  &:active {
    color: $opacity-black;

    .copyright__image {
      fill: $opacity-black;
    }
  }

  &:visited {
    color: $basic-black;

    .copyright__image {
      fill: $basic-black;
    }
  }
}

.copyright__text {
  margin: 0;
}
