.feature {
  display: grid;
}

.feature__wrapper {
  padding-top: 54px;
  background-image:
    linear-gradient(10deg, #81b3d2 85%, transparent 85%),
    linear-gradient(350deg, #81b3d2 85%, transparent 85%);
  background-position:
    0 0,
    0 0;
}

.feature__tips {
  @include list-style-blocks;
  margin-bottom: 6px;
  background-color: $basic-background;
  color: $text-main-color;
  text-align: left;
  order: 2;
}

.feature__title {
  margin-bottom: 14px;
}

.feature__number {
  margin-top: 0;
  margin-bottom: 21px;
}

.feature__description {
  margin-top: 0;
  margin-bottom: 24px;
}

.feature__image {
  margin: 11px auto 0;
  order: 1;
}
