.feature {
  padding-top: 24px;
  text-align: center;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 41px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 43px 62px;
  }

  &--accent {
    padding-top: 26px;
    padding-bottom: 0;
    color: $basic-white;
    background-color: $basic-blue;

    &:first-child {
      @media (max-width: $mobile-width-only) {
        background-image:
          linear-gradient(10deg, #81b3d2 93%, transparent 93%),
          linear-gradient(350deg, #81b3d2 93%, transparent 93%),
          linear-gradient(180deg, #ffffff 7%, #81b3d2 7%);
        background-position:
          0 0,
          0 0,
          0 0;
      }
    }

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column: 1 / 4;
      padding: 0;

      &:nth-child(2) {
        grid-template-columns: 2fr 1fr;
      }
    }
  }

  &:first-child {
    padding-top: 54px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }
}

.feature__tips {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  background-color: $basic-white;
  color: $text-main-color;
  text-align: left;
  order: 2;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}

.feature__wrapper {
  @media (min-width: $tablet-width) {
    padding: 40px 32px;

    &--second-place {
      order: 2;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 52px;
  }
}

.feature__title {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.feature__number {
  margin-top: 0;
  margin-bottom: 21px;

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.feature__description {
  margin: 0;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.feature__image {
  display: block;
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.feature__break-text {
  @media (min-width: $mobile-and-tablet-width) {
    display: none;
  }
}
