.feature {
  position: relative;
  padding-top: 25px;
  text-align: center;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  &--accent {
    padding-top: 39px;
    padding-bottom: 0;
    color: $basic-white;
    background-color: $basic-blue;
    border: none;

    @media (min-width: $mobile-biggest) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 0;

      &:nth-child(2) {
        grid-template-columns: 2fr 1fr;
      }
    }

    @media (min-width: $tablet-width) {
      grid-column: 1 / 4;
    }
  }

  &--accent-first {
    @media (max-width: $mobile-biggest) {
      &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 37px;
        background-color: $basic-white;
        clip-path: polygon(0 0, 100% 0, 100% 20%, 50% 62%, 0 20%);
        z-index: 2;
      }
    }
  }

  &:first-child {
    padding-top: 54px;

    @media (min-width: $mobile-biggest) {
      padding-top: 0;
    }
  }
}

.feature__tips {
  list-style: none;
  padding: 0;
  background-color: $basic-white;
  color: $text-main-color;
  text-align: left;
  order: 2;

  @media (min-width: $mobile-biggest) {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  @media (min-width: $tablet-smaller) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}

.feature__wrapper {
  margin-right: 19px;
  margin-left: 19px;
  padding: 0;

  &--simple {
    box-sizing: border-box;

    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $border-grey;
    }
  }

  @media (min-width: $mobile-biggest) {
    margin-right: 0;
    margin-left: 0;
    padding: 40px 32px 0;

    &--accent-second {
      padding: 42px 32px 0;
      order: 2;
    }

    &--simple {
      border-bottom: none;
      padding: 42px 39px 42px;
    }
  }

  @media (min-width: $desktop-width) {
    &--accent {
      padding: 47px 60px 50px;
    }

    &--accent-second {
      padding: 51px 50px 35px;
    }

    &--simple {
      padding: 43px 43px 62px;
    }
  }
}

.feature__title {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    max-width: 150px;
    margin-bottom: 13px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 158px;
    margin-bottom: 14px;
  }
}

.feature__number {
  margin-top: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.feature__description {
  margin: 0;
  padding-bottom: 24px;

  &--accent-first {
    padding-bottom: 40px;
  }

  &--accent {
    padding-bottom: 34px;
  }

  &--simple {
    padding-left: 14px;
    padding-right: 14px;
  }

  @media (min-width: $mobile-biggest) {
    padding-bottom: 0;

    &--simple {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.feature__image {
  display: block;
  width: 100%;
  max-height: 280px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.feature__break-text {
  @media (max-width: $mobile-and-tablet-width) {
    display: none;
  }
}
