.form-content__intro {
  position: relative;
  overflow-x: hidden;

  &::after {
    @media (max-width: $mobile-width-only) {
      @include mobile-section-line;
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 102px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.form-content__form-review {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
}
