.form-review {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form-review__item {
  position: relative;
  padding: 0 0 34px;
  border: none;
  box-sizing: border-box;

  &::after {
    @media (max-width: $mobile-width-only) {
      @include mobile-section-line;
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 56px;
  }

  &:first-child {
    padding: 0 0 39px;

    @media (min-width: $tablet-width) {
      padding: 0 0 48px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 71px;
    }
  }

  &--experience {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 3;
    }
  }

  &--attractions {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 24px;
    }

    @media (min-width: $tablet-width) {
      grid-column: 1 / 3;
      padding-bottom: 42px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 56px;
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        top: -50px;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: $border-grey;
      }
    }
  }
}

.form-review__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    &--contact {
      justify-content: end;
    }
  }

  &--attractions {
    justify-content: center;
  }
}

.form-review__note {
  margin: 3px 0 0;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
}

.form-review__option {
  position: relative;
  width: 280px;
  margin: 0 auto 16px auto;

  @media (min-width: $desktop-width) {
    width: 430px;
  }

  &--radio {
    margin-bottom: 36px;

    @media (min-width: $desktop-width) {
      width: 33%;
    }
  }

  &--checkbox {
    margin-bottom: 36px;

    @media (min-width: $desktop-width) {
      width: 25%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-review__label {
  width: 280px;
  padding-left: 16px;

  &--phone {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $input-dark-grey;
      background-image: url("../img/phone.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      z-index: 1;
    }
  }

  &--email {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $input-dark-grey;
      background-image: url("../img/mail.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      z-index: 1;
    }
  }
}

.form-review__input {
  width: 100%;
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $basic-black;
  background-color: $input-basic-grey;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    color: $opacity-black;
  }
}

.form-review__text-area {
  min-height: 150px;
  margin: 20px 0 56px;
  resize: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    margin: 0 0 48px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto 48px;
  }
}

.form-review__footer {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}

.form-review__label-checkbox {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  padding-left: 62px;
}

.form-review__designed-checkbox {
  position: absolute;
  top: -0.7em;
  margin-left: -62px;
  width: 46px;
  height: 46px;
  background-color: $input-basic-grey;
  border-radius: 3px;
  cursor: pointer;
}

.form-review__checkbox:checked + .form-review__designed-checkbox::after {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form-review__checkbox:active + .form-review__designed-checkbox {
  background-color: $input-grey-down;
}

.form-review__checkbox:active + .form-review__designed-checkbox::after {
  opacity: 0.3;
}

.form-review__checkbox:focus + .form-review__designed-checkbox {
  background-color: $input-grey-hover;
}

.form-review__checkbox:hover + .form-review__designed-checkbox {
  background-color: $input-grey-hover;
}


.form-review__checkbox:disabled + .form-review__designed-checkbox {
  background-color: $input-grey-down;
  cursor: default;
}

.form-review__checkbox:disabled + .form-review__designed-checkbox::after {
  opacity: 0.3;
}

.form-review__label-radio {
  padding-left: 62px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.form-review__designed-radio {
  position: absolute;
  top: -0.7em;
  margin-left: -62px;
  width: 46px;
  height: 46px;
  background-color: $input-basic-grey;
  border-radius: 50%;
  cursor: pointer;
}

.form-review__radio:checked + .form-review__designed-radio::after {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form-review__radio:focus + .form-review__designed-radio {
  background-color: $input-grey-hover;
}

.form-review__radio:hover + .form-review__designed-radio {
  background-color: $input-grey-hover;
}

.form-review__radio:active + .form-review__designed-radio {
  background-color: $input-dark-grey;
}

.form-review__radio:active + .form-review__designed-radio::after {
  opacity: 0.3;
}

.form-review__radio:disabled + .form-review__designed-radio {
  background-color: $input-dark-grey;
  cursor: default;
}

.form-review__radio:disabled + .form-review__designed-radio::after {
  opacity: 0.3;
}
