.form-review {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 494px auto;
  }
}

.form-review__item {
  position: relative;
  margin: 0;
  padding: 0 0 36px;
  border: none;
  box-sizing: border-box;

  &::after {
    @media (max-width: $mobile-width-only) {
      @include mobile-section-line;
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 56px;
  }

  &--experience {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 3;
      padding-top: 10px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 44px;
    }
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      grid-column: 1 / 3;
      padding-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 58px;
    }
  }

  &--name {
    padding: 0 0 40px;

    @media (min-width: $tablet-width) {
      padding: 0 0 48px 0;

      &::after {
        content: "";
        position: absolute;
        top: -50px;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: $border-grey;
      }
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 54px 0;
    }
  }
}

.form-review__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &--name {
    @media (min-width: $tablet-width) {
      padding-right: 43px;
    }
  }

  &--contact {
    @media (min-width: $tablet-width) {
      justify-content: end;
      padding-left: 44px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 64px;
    }
  }

  &--experience {
    @media (min-width: $mobile-biggest) {
      column-gap: 15px;
      padding-left: 36px;
      padding-right: 36px;
    }

    @media (min-width: $desktop-width) {
      column-gap: 20px;
      padding-left: 54px;
      padding-right: 0;
    }
  }

  &--attractions {
    @media (min-width: $mobile-bigger) {
      padding-left: 5%;
      padding-right: 5%;
    }

    @media (min-width: $tablet-smaller) {
      padding-left: 13%;
      padding-right: 0;
      column-gap: 30px;
    }

    @media (min-width: $desktop-width) {
      column-gap: 64px;
      padding-left: 44px;
      padding-right: 28px;
    }
  }
}

.form-review__note {
  margin: 3px 0 0;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
    font-size: 14px;
  }
}

.form-review__option {
  position: relative;
  margin: 0 0 16px;
  width: 100%;
  max-width: 430px;

  @media (min-width: $mobile-bigger) {
    margin: 0 auto 16px;
  }

  &--radio {
    width: 280px;
    min-height: 46px;

    @media (min-width: $tablet-smaller) {
      margin: 0 0 16px;
    }

    @media (min-width: $desktop-width) {
      width: 288px;
    }
  }

  &--checkbox {
    width: 224px;
    min-height: 46px;

    @media (min-width: $tablet-smaller) {
      margin: 0 0 16px;
    }

    @media (min-width: $desktop-width) {
      width: auto;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 16px;
  }
}

.form-review__label {
  padding-left: 16px;

  &--phone {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $input-dark-grey;
      background-image: url("../img/phone.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      z-index: 1;
    }
  }

  &--email {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $input-dark-grey;
      background-image: url("../img/mail.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      z-index: 1;
    }
  }
}

.form-review__input {
  width: 100%;
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $basic-black;
  background-color: $input-basic-grey;
  border: none;
  box-sizing: border-box;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &::placeholder {
    color: $opacity-black;
  }
}

.form-review__text-area {
  display: block;
  min-height: 150px;
  margin: 0 auto 50px;
  resize: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    min-height: 160px;
    margin: 0 auto 48px;
  }

  @media (max-width: $desktop-width) {
    max-width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto 48px;
  }
}

.form-review__footer {
  @media (max-width: $tablet-width) {
    max-width: 646px;
  }

  @media (min-width: $mobile-biggest) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-self: center;
    grid-column: 1 / 3;
    width: 646px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    justify-content: space-between;
  }
}

.form-review__label-checkbox {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  padding-left: 62px;
  cursor: pointer;
}

.form-review__designed-checkbox {
  position: absolute;
  top: -0.7em;
  margin-left: -62px;
  width: 46px;
  height: 46px;
  background-color: $input-basic-grey;
  border-radius: 3px;
  cursor: pointer;
}

.form-review__checkbox:checked + .form-review__designed-checkbox::after {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form-review__checkbox:active + .form-review__designed-checkbox {
  background-color: $input-grey-down;
}

.form-review__checkbox:active + .form-review__designed-checkbox::after {
  opacity: 0.3;
}

.form-review__checkbox:focus + .form-review__designed-checkbox {
  background-color: $input-grey-hover;
}

.form-review__checkbox:hover + .form-review__designed-checkbox {
  background-color: $input-grey-hover;
}


.form-review__checkbox:disabled + .form-review__designed-checkbox {
  background-color: $input-grey-down;
  cursor: default;
}

.form-review__checkbox:disabled + .form-review__designed-checkbox::after {
  opacity: 0.3;
}

.form-review__label-radio {
  padding-left: 62px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;
}

.form-review__designed-radio {
  position: absolute;
  top: -0.7em;
  margin-left: -62px;
  width: 46px;
  height: 46px;
  background-color: $input-basic-grey;
  border-radius: 50%;
  cursor: pointer;
}

.form-review__radio:checked + .form-review__designed-radio::after {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form-review__radio:focus + .form-review__designed-radio {
  background-color: $input-grey-hover;
}

.form-review__radio:hover + .form-review__designed-radio {
  background-color: $input-grey-hover;
}

.form-review__radio:active + .form-review__designed-radio {
  background-color: $input-dark-grey;
}

.form-review__radio:active + .form-review__designed-radio::after {
  opacity: 0.3;
}

.form-review__radio:disabled + .form-review__designed-radio {
  background-color: $input-dark-grey;
  cursor: default;
}

.form-review__radio:disabled + .form-review__designed-radio::after {
  opacity: 0.3;
}
