.form-content__intro {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 102px;
  }


  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.form-content__form-review {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
}
