.intro {
  display: grid;
  padding: $min-page-padding;
  text-align: center;
}

.intro__image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  padding-top: 90px;
  padding-bottom: 85px;
  background-color: #dbe9f2;
  background-image:
    linear-gradient(10deg, white 25%, transparent 25%),
    linear-gradient(350deg, white 25%, transparent 25%),
    url("../img/Mountains.jpg");
  background-repeat: no-repeat;
  background-position:
    0 83px,
    0 83px,
    50% 0;
  background-size: cover;
  order: -1;

  &--short {
    margin-bottom: 36px;
    padding-top: 53px;
    padding-bottom: 67px;
    background-color:#3a4e53;
    background-position:
    0 30px,
    0 30px,
    50% 100%;
  }
}

.intro__subtitle {
  margin: 0 0 24px 0;

  &--without-text {
    margin: 0;
  }

  &--catalog {
    margin: 0 0 28px 0;
  }
}

.intro__lead {
  margin: 0;
}
