.location__map {
  display: block;
  width: 100%;
  max-height: 350px;
  border: none;
  background-color: $basic-grey;
  background-size: cover;
  object-fit: cover;
}

.location__noscript {
  position: relative;
}

.location__marker {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  z-index: 1;
}
