.main-content__intro {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }
}

.main-content__location {
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}
