.main-nav {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  background-color: $button-main-color;

  @media (min-width: $tablet-width) {
    min-width: 153px;
    background-color: $basic-background;

    &:nth-child(2) {
      margin-right: 140px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 240px;

    &:nth-child(2) {
      margin-right: 240px;
    }
  }
}

.main-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $button-text-main-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 18px 10px 17px;
    font-size: 14px;
    line-height: 21px;
    color: $main-menu-basic;

    &--current {
      color: $main-menu-current;
    }
  }
}

.main-nav__close {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
