.modal {
  display: none;
  position: fixed;
  top: 30vh;
  right: 0;
  left: 0;
  width: 320px;
  margin: auto;
  text-align: center;
  background-color: $basic-white;
  box-shadow: 0 0 0 50vmax $opacity-black;
  box-sizing: border-box;
  z-index: 100;

  &--opened {
    display: block;
  }

  &--failure {
    padding: 45px 42px 35px;

    @media (min-width: $tablet-width) {
      width: 400px;
      padding: 56px 47px 49px;
    }

    @media (min-width: $desktop-width) {
      padding: 48px 47px 49px;
    }
  }

  &--success {
    padding: 39px 20px 20px;
    background-image: linear-gradient(to top, $basic-grey 0 98px, $basic-white 98px 100%);

    @media (min-width: $tablet-width) {
      width: 640px;
      padding: 45px 50px 44px;
      background-image: linear-gradient(to top, $basic-grey 0 146px, $basic-white 146px 100%);
    }
  }
}

.modal__description {
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    margin: 0 0 41px;
  }

  &--big {
    margin-bottom: 70px;
    padding-right: 25px;
    padding-left: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 97px;
    }
  }
}
