.page-footer {
  display: flex;
  padding-top: 28px;
  padding-bottom: 30px;
  align-items: center;
  background-color: $basic-white;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.page-footer__hashtag {
  margin: 0 0 36px;
  font-weight: 700;
  font-size: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 -8px;
  }
}
