.page-footer {
  padding-top: 38px;
  padding-bottom: 29px;
}

.page-footer__hashtag {
  margin: 0 0 33px 0;
  font-weight: 700;
  font-size: 21px;
}

.page-footer__social {
  list-style: none;
  margin: 0 0 47px 0;
  padding: 0;
}
