.post {
  position: relative;
  padding: 24px 0;

  @media (max-width: $mobile-width-only) {
    display: grid;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: $basic-grey;
  }

  &:nth-child(2n+3) {
    @media (min-width: $tablet-width) {
      background-color: $post-grey-accent;
    }
  }

  &--accent {
    &::before {
      @media (max-width: $mobile-width-only) {
        @include mobile-section-line;
        top: 0;
      }
    }

    @media (min-width: $tablet-width) {
      grid-column: 1 / 3;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 4;
    }
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      @include mobile-section-line;
      bottom: 0;
    }
  }
}

.post__description {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    padding: 22px 20px 16px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    color: $basic-white;
    background-color: $opacity-black;
    z-index: 1;
  }
}

.post__link {
  display: block;
  margin: 0;
  padding: 0;
}

.post__name {
  margin: 18px 0 0;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.post__author {
  margin: 0 0 6px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.post__likes {
  display: flex;
  column-gap: 14px;
  align-items: center;
  margin: 0;
  font-weight: 700;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    justify-self: end;
    column-gap: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-bottom: 10px;
  }
}

.post__likes-number {
  margin: 0;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }
}

.post__likes-icon {
  fill: $opacity-black;

  @media (min-width: $desktop-width) {
    fill: $basic-white;
  }
}

.post__image {
  width: 100%;
  display: block;
  object-fit: contain;

  @media (max-width: $mobile-width-only) {
    width: auto;
    height: 280px;
  }

  @media (min-width: $desktop-width) {
    height: 267px;

    &--accent {
      height: 400px;
    }
  }
}
