.presentation {
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
  }
}

.presentation__title {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.presentation__description {
  margin: 0 auto 38px auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.presentation__video-wrapper {
  position: relative;
  margin: 0 auto;
  background-color: $basic-grey;
  background-image: url("../img/video-mobile@1x.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.webp");
  }

  @media (min-width: $tablet-width) {
    height: 500px;
    background-image: url("../img/video-tablet@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    background-image: url("../img/video-desktop@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.webp");
    }
  }
}

.presentation__video {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.presentation__button {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 55px;
    top: calc(50% - 27px);
    left: calc(50% - 24px);
    background-color: $button-video-color;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }
}
