.tips__item {
  position: relative;
  margin-bottom: 22px;
  padding-left: 20px;

  &:first-child {
    @media (max-width: $mobile-width-only) {
      padding-top: 23px;
    }
  }

  &:last-child {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 52px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 158px 32px 59px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 158px 52px 79px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 17px;
    width: 40px;
    height: 40px;
    background-size: contain;


    @media (min-width: $tablet-width) {
      top: 20%;
      left: 45%;
    }
  }

  &--accommodation {
    &::before {
      @media (max-width: $mobile-width-only) {
        top: 22px;
      }
      background-image: url("../img/house.svg");
    }
  }

  &--food {
    @media (max-width: $mobile-width-only) {
      padding-left: 25px;
    }

    @media (min-width: $tablet-width) {
      padding: 158px 50px 59px;
    }

    &::before {
      background-image: url("../img/burger.svg");
    }
  }

  &--souvenirs {
    @media (max-width: $mobile-width-only) {
      padding-left: 18px;
    }

    &::before {
      background-image: url("../img/present.svg");
    }
  }
}

.tips__title {
  margin-bottom: 24px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 16px;
    padding-top: 8px;
    padding-left: 45px;
    text-align: left;

    &--food {
      padding-left: 45px;
    }
  }
}

.tips__description {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-left: 44px;
    padding-right: 19px;
  }
}
