.tips__item {
  margin-bottom: 22px;

  &:first-child {
    @media (max-width: $mobile-width-only) {
      padding-top: 23px;
    }
  }

  &:last-child {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 52px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 158px 36px 59px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 158px 36px 79px;
  }
}

.tips__title {
  margin-bottom: 14px;

  @media (max-width: $mobile-width-only) {
    padding-left: 47px;
    padding-right: 19px;
  }
}

.tips__description {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-left: 47px;
    padding-right: 19px;
  }
}
