.booking {
  padding: $min-page-padding;
  padding-top: 38px;
  padding-bottom: 49px;
  text-align: center;
}

.booking__title {
  margin-bottom: 26px;
}

.booking__description {
  margin-bottom: 32px;
}
