$basic-white: #ffffff;
$basic-blue: #81b3d2;
$text-main-color: #333333;

$input-basic-grey: #F2F2F2;
$input-grey-hover: #E5E5E5;
$input-grey-down: #D5D5D5;
$input-black: #000000;

$main-menu-current: #766357;
$main-menu-down: #FFFFFF;
$main-menu-hover: #81B3D2;
$main-menu-basic: #000000;

$button-main-color: #81b3d2;
$button-text-main-color: #ffffff;
$button-main-color-hover: #5496BD;
$button-main-color-down: #5496BD;
$button-main-color-disabled: #E5E5E5;
