.form-review-text-area {
  width: 100%;
  min-height: 150px;
  margin: 0 0 56px 0;
  padding: 16px;
  font-family: inherit;
  font-weight: 700;
  color: $input-text-text-area;
  background-color: $input-basic-grey;
}
