.photos__post {
  margin: 0;
}

.post {
  padding: 24px 0 25px;
}

.post__link {
  margin: 0 0 15px 0;
}

.post__name {
  margin: 0 0 8px 0;
  font-weight: 700;
}

.post__author {
  margin: 0 0 16px 0;
}

.post__likes {
  margin: 0;
  font-weight: 700;
}
