$basic-white: #ffffff;
$opacity-white: rgba(255, 255, 255, 0.3);
$basic-blue: #81b3d2;
$dark-blue: #6c8aad;
$light-blue: #9ebee0;
$basic-grey: #f2f2f2;
$basic-black: #000000;
$opacity-black: rgba(0, 0, 0, 0.3);

$text-main-color: #333333;

$input-basic-grey: $basic-grey;
$input-dark-grey: #e6e6e6;
$input-grey-hover: #e5e5e5;
$input-grey-down: #d5d5d5;

$main-menu-current: #766357;
$main-menu-down: $basic-white;
$main-menu-hover: #669ec0;

$button-main-color: #81b3d2;
$button-text-main-color: $basic-white;
$button-main-color-hover: #669ec0;
$button-main-color-down: #5496bd;
$button-main-color-disabled: #e5e5e5;

$intro-index-background-color: #dbe9f2;
$inro-pages-background-color: #3a4e53;
$post-grey-accent: #eaeaea;

$border-grey: #e5e5e5;

$button-video-color: rgba(255, 255, 255, 0.7);

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$mobile-and-tablet-width: 1099px;
$mobile-bigger: 480px;


@mixin mobile-section-line {
  content: "";
  position: absolute;
  left: -19px;
  width: calc(100% + 38px);
  height: 1px;
  background-color: $border-grey;
}
