.wrapper {
  padding-left: 19px;
  padding-right: 19px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }

  &--narrow {
    max-width: 458px;

    @media (min-width: $mobile-biggest) {
      padding: 0;
    }
  }

  &--narrow-catalog {
    max-width: 446px;

    @media (min-width: $mobile-biggest) {
      padding: 0;
    }
  }

  &--wide {
    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
